.logo{
    background-image: url(./img/pattern.png);
    background-color: rgb(31, 117, 187);
    height: 100px;
    
}
#logo1{
    width: 100px;
    margin-top:60px ;
}

.sottotitolo{
    color: rgb(80, 76, 76);
    
}

#theboleaner{
    color: rgb(0, 174, 255);
}

.thead{
    background-color: rgb(31, 108, 223);
}

table{
    width: 100%;
    border-collapse: collapse;
}
.tr1{
    background-color: rgb(83, 154, 172);
}

.riga{
    width: 25%;
}